<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="{{ url_for('static', path='/icons.json') }}">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', path='/ios/60.png') }}"
          media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', path='/ios/60.png') }}"
          media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', path='/ios/60.png') }}"
          media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', path='/ios/72.png') }}"
          media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', path='/ios/76.png') }}"
          media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', path='/ios/80.png') }}.png"
          media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', path='/ios/1024.png') }}"
          media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="./assets/images/android_060.png" sizes="60x60">


    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/57.png') }}" sizes="57x57"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/60.png') }}" sizes="60x60"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/72.png') }}" sizes="72x72"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/76.png') }}" sizes="76x76">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/114.png') }}" sizes="114x114"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/120.png') }}" sizes="120x120">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/144.png') }}" sizes="144x144">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/152.png') }}" sizes="152x152">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/167.png') }}" sizes="167x167">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/ios/180.png') }}" sizes="180x180">


    <link rel="icon" type="image/png" sizes="114x114" href="{{ url_for('static', path='/ios/114.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/ios/32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/ios/16.png') }}">
    {% block head %}
    {% endblock %}

    {% if is_debug %}
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    {% endif %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
{% block script %}
{% endblock %}
</html>
