{% extends "base.html" %}

{% block title %}
Barcode 掃描器
{% endblock %}

{% block head %}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center !important;
        background-color: #CCE8CC;
        color: #3A3A3A;
    }

    .outside {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>
{% endblock %}


{% block body %}
<div class="outside">
    <div class="inside">
        <button id="startButton" class="btn btn-primary btn-lg">開始掃描</button>
        <div id="interactive" class="viewport"></div>
        <div id="result"></div>
    </div>
</div>


{% endblock %}

{% block script %}

<script>
    const generateGuid = () => {
        return Math.random().toString(36).substring(2, 15) +
            Math.random().toString(36).substring(2, 15);
    }
    const thisGuid = generateGuid()
    const protocol = {
        "http:": "ws",
        "https:": "wss"
    }
    const ws = new WebSocket(`${protocol[document.location.protocol]}:///${document.location.host}/ws/scan/${thisGuid}`);


</script>

<script src="https://unpkg.com/quagga@0.12.1/dist/quagga.min.js"></script>
<script>
    document.getElementById("startButton").addEventListener("click", function () {
        document.getElementById("interactive").style.display = "block";
        startScanner();
    });
    const quaggaConf = {
        inputStream: {
            name: "Live",
            type: "LiveStream",
            target: document.querySelector("#interactive"),
            constraints: {
                width: 640,
                height: 480,
                facingMode: "environment" // 後置攝影機
            }
        },
        decoder: {
            readers: [{
                format: "ean_reader",
                config: {
                    supplements: [
                        'ean_5_reader', 'ean_2_reader'
                    ]
                }
            }, "ean_reader"]
        }
    }

    const startScanner = () => {
        Quagga.init(quaggaConf, function (err) {
            if (err) {
                console.error(err);
                return;
            }
            Quagga.start();
        });
    }


    Quagga.onDetected(function (result) {
        let code = result.codeResult.code;
        ws.send(code)
        document.getElementById("result").innerText = "掃描結果: " + code;
        stopScanner();
    });

    const stopScanner = () => {
        Quagga.stop();
        document.getElementById("interactive").style.display = "none";
    }


</script>
{% endblock %}
</html>
